.KubeForceChart {
  width: 100%;
  height: 100%;
}

#KubeForceChart-tooltip {
  display: none;
}

.force-graph-container {
  background-color: var(--secondaryBackground);
}

.graph-tooltip {
  background: var(--tooltipBackground) !important;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  max-width: 400px;
  min-width: 300px;
  color: var(--textColorPrimary);
  font-size: small;
  font-weight: normal;
  transition: opacity 150ms 25ms ease-in-out;
  z-index: 10;
}

.ingress-tooltip {
  min-width: 400px;
}

.KubeResourceChartTooltip {
  padding: 3px;
  font-size: 12px !important;
  color: rgb(160, 160, 160);

  .DrawerItem {
    .name, .value {
      color: rgb(160, 160, 160);
    }
  }

  .conditions {
    .Badge {
      &.available {
        color: white;
        background-color: var(--colorOk);
      }

      &.progressing {
        color: white;
        background-color: var(--colorInfo);
      }

      &.replica-failure {
        color: white;
        background-color: var(--colorError);
      }
    }
  }

  .running {
    color: var(--colorOk);
  }

  .succeeded {
    color: var(--colorOk);
  }

  .failed {
    color: var(--colorError);
  }

  .pending, .containercreating {
    color: var(--colorWarning);
  }

  .terminated, .terminating {
    color: var(--colorTerminated);
  }

  .StatusBrick.running:not(.ready) {
    background: var(--colorWarning);
  }
  .StatusBrick.terminated, .StatusBrick.completed {
    color: white;
    background: var(--colorTerminated);
  }

  .StatusBrick.pending, .StatusBrick.containercreating, .StatusBrick.waiting {
    color: white;
    background: var(--colorWarning);
  }

  .rules {
    margin-top: 2px;
    margin-bottom: 16px;
  }

  .host-title {
    font-weight: bold;
  }

  .Table {
    .path {
      &:empty:after {
        content: '\2014';
      }
    }
  }
}
