.KubeForceChart {
  width: 100%;
  height: 100%;
  background-color: #1e2124;
}

#KubeForceChart-tooltip {
  display: none;
}

.graph-tooltip {
  background: rgb(30, 33, 36) !important;
  border: 1px solid #4c5053;
  border-radius: 3px;
  max-width: 400px;
  min-width: 400px;
  color: rgb(160, 160, 160);
  font-size: small;
  font-weight: normal;
  transition: opacity 150ms 25ms ease-in-out;
}

.KubeResourceChartTooltip {
  padding: 3px;
  font-size: 14px;
  color: rgb(160, 160, 160);

  .DrawerItem {
    .name, .value {
      color: rgb(160, 160, 160);
    }
  }
  .running {
    color: var(--colorOk);
  }

  .succeeded {
    color: var(--colorOk);
  }

  .failed {
    color: var(--colorError);
  }

  .pending, .containercreating {
    color: var(--colorWarning);
  }

  .terminated, .terminating {
    color: var(--colorTerminated);
  }

  .StatusBrick.running:not(.ready) {
    background: var(--colorWarning);
  }
  .StatusBrick.terminated, .StatusBrick.completed {
    color: white;
    background: var(--colorTerminated);
  }

  .StatusBrick.pending, .StatusBrick.containercreating, .StatusBrick.waiting {
    color: white;
    background: var(--colorWarning);
  }
}
