.KubeResourceChartLegend {
  padding: var(--padding);
  background: var(--layoutBackground);

  .title {
    text-align: center;
    font-size: 110%;
    color: var(--textColorSecondary);
  }

  .resource {
    border-right: 10px solid var(--color, transparent);
  }

  .resource-icon {
    border: none;
    border-radius: 50%;
  }

  .resource-kind {
    font-style: italic;
    padding-right: 10px;
  }
}